<%- include('../partials/_header') -%>

<style>
    .form-header {
        margin-top: 200px;
    }
</style>

<div class="container">

    <div class="row mb-5">

        <div class="col">
            Column
        </div>

        <div class="col">
            <div class="">

                <div class="form-header">add product form</div>

                <form action="add-product" method="post">

                    <input type="text" name="name" placeholder="Product Name" class="form-control">
                    <input type="text" name="imgUrl" placeholder="Image URL" class="form-control">
                    <textarea name="description" id="" cols="30" rows="10" class="form-control"></textarea>
                    <input type="submit" class="btn btn-primary" />

                </form>

            </div>
        </div>

        <div class="col">
            Column
        </div>

    </div>

    <div class="row mt-5">


        <% for (let i = 0; i < products.length; i++) { %>

        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src=<%= products[i].imgUrl %> class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"> <%= products[i].name %> </h5>
                    <p class="card-text"> <%= products[i].description %> </p>
                    <a href="/product-detail/<%= products[i]._id %> " class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>

        <% } %>


    </div>

</div>



<%- include('../partials/_footer') -%>